# Object files
*.o
*.obj
*.elf

# Linker output
*.ilk
*.exp

# Patch and wiggle related residdue
*.rej
*.porig

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# datadump
/tools/ddump/*

# Text editor remnants
*.swp
.vscode/*
.idea/*

# General project-specific ignores
doxygen/doxygen/*
build/*
!/lib/discord/*
*.dump
*.mio0
*.z64
*.map
*.sav
.assets-local.txt
sm64_save_file.bin
sm64config.txt

# Assets. Generally ignored, but ones with "custom" in the name are fine.
/levels/**/*.png
/actors/**/*.png
/textures/**/*.png
/assets/**/*.bin
/sound/**/*.m64
/sound/**/*.aiff
!/levels/**/*custom*.png
!/levels/**/*custom*/**/*.png
!/actors/**/*custom*.png
!/actors/**/*custom*/**/*.png
!/textures/**/*custom*.png
!/textures/**/*custom*/**/*.png
!/sound/**/*custom*.m64
!/sound/**/*custom*/**/*.m64
!/sound/**/*custom*.aiff
!/sound/**/*custom*/**/*.aiff
!/assets/**/*custom*.bin
!/assets/**/*custom*/**/*.bin



!/levels/**/*custom*.png
!/levels/**/*custom*/**/*.png
!/actors/**/*custom*.png
!/actors/**/*rainbow*.png
!/actors/**/*stored*.png
!/actors/**/*mario*.png
!/levels/intro/header.h
!/levels/intro/leveldata.c
!/levels/intro/leveldata.c
!/levels/intro/script.c
!/levels/ending/*cake*.png
!/levels/menu/*01018*.png
!/actors/**/*wing*.png
!/actors/**/*cursya*.png
!/actors/**/*skipsqueak*.png
!/actors/**/*sonic*.png
!/actors/**/*metal*.png
!/actors/**/*super*.png
!/actors/**/*reticle*.png
!/sound/**/*sound*.png
!/textures/**/*10458*.png
!/textures/**/*05A00*.png
!/actors/**/*custom*/**/*.png
!/actors/**/*emerald*.png
!/textures/**/*meta*.png
!/textures/**/*emerald*.png
!/sound/**/*drown*.m64
!/sound/**/*super*.m64
!/sound/**/*emerald*.m64
!/textures/**/*mario*.png
!/textures/**/*custom*.png
!/textures/**/*rainbow*.png
!/textures/**/*cursya*.png
!/textures/**/*skipsqueak*.png
!/textures/**/*curseya*.png
!/textures/**/*custom*/**/*.png
!/sound/**/*custom*.m64
!/sound/**/*custom*/**/*.m64
!/sound/**/*custom*.aiff
!/sound/**/*custom*/**/*.aiff
!/assets/**/*custom*.bin
!/assets/**/*custom*/**/*.bin

# added exceptions for sonic
actors/mario/*mario_eyes*
actors/mario/mario_mustache.rgba16.png
actors/mario/mario_sideburn.rgba16.png
actors/mario_cap/mario_cap_logo.rgba16.png
actors/mario/mario_logo.rgba16.png
textures/sky/metal_hole.rgba16.png
actors/swoop/swoop_wing.rgba16.png
actors/metal_box/metal_box_side.rgba16.png
actors/klepto/*
actors/hoot/*
actors/butterfly/butterfly_wing.rgba16.png
actors/exclamation_box/*
# Android files
!/textures/touchcontrols/*.png
platform/android/SDL/include
!platform/android/android/**/*.so
platform/android/android/lib/*/libc++_shared.so

# macOS autocreated directory settings file 
.DS_Store
