# Object files
*.o
*.obj
*.elf

# Linker output
*.ilk
*.exp

# Patch and wiggle related residdue
*.rej
*.porig

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# datadump
/tools/ddump/*

# Text editor remnants
*.swp
.vscode/*
.idea/*

# General project-specific ignores
doxygen/doxygen/*
build/*
!/lib/discord/*
*.dump
*.mio0
*.z64
*.map
*.sav
.assets-local.txt
sm64_save_file.bin
sm64config.txt

# Assets. Generally ignored, but ones with "custom" in the name are fine.
/levels/**/*.png
/actors/**/*.png
/textures/**/*.png
/assets/**/*.bin
/sound/**/*.m64
/sound/**/*.aiff
!/levels/**/*custom*.png
!/levels/**/*custom*/**/*.png
!/actors/**/*custom*.png
!/actors/**/*custom*/**/*.png
!/textures/**/*custom*.png
!/textures/**/*custom*/**/*.png
!/sound/**/*custom*.m64
!/sound/**/*custom*/**/*.m64
!/sound/**/*custom*.aiff
!/sound/**/*custom*/**/*.aiff
!/assets/**/*custom*.bin
!/assets/**/*custom*/**/*.bin



!/levels/**/*custom*.png
!/levels/**/*custom*/**/*.png
!/actors/**/*custom*.png
!/actors/**/*rainbow*.png
!/actors/**/*stored*.png
!/actors/**/*mario*.png
!/levels/intro/header.h
!/levels/intro/leveldata.c
!/levels/intro/leveldata.c
!/levels/intro/script.c
!/levels/ending/*cake*.png
!/levels/menu/*01018*.png
!/actors/**/*wing*.png
!/actors/**/*cursya*.png
!/actors/**/*skipsqueak*.png
!/actors/**/*sonic*.png
!/actors/**/*metal*.png
!/actors/**/*super*.png
!/actors/**/*reticle*.png
!/sound/**/*sound*.png
!/textures/**/*10458*.png
!/textures/**/*05A00*.png
!/actors/**/*custom*/**/*.png
!/actors/**/*emerald*.png
!/textures/**/*meta*.png
!/textures/**/*emerald*.png
!/sound/**/*drown*.m64
!/sound/**/*super*.m64
!/sound/**/*emerald*.m64
!/textures/**/*mario*.png
!/textures/**/*custom*.png
!/textures/**/*rainbow*.png
!/textures/**/*cursya*.png
!/textures/**/*skipsqueak*.png
!/textures/**/*curseya*.png
!/textures/**/*custom*/**/*.png
!/sound/**/*custom*.m64
!/sound/**/*custom*/**/*.m64
!/sound/**/*custom*.aiff
!/sound/**/*custom*/**/*.aiff
!/assets/**/*custom*.bin
!/assets/**/*custom*/**/*.bin

# added exceptions for sonic
actors/mario/*mario_eyes*
actors/mario/mario_mustache.rgba16.png
actors/mario/mario_sideburn.rgba16.png
actors/mario_cap/mario_cap_logo.rgba16.png
actors/mario/mario_logo.rgba16.png
textures/sky/metal_hole.rgba16.png
actors/swoop/swoop_wing.rgba16.png
actors/metal_box/metal_box_side.rgba16.png
actors/klepto/*
actors/hoot/*
actors/butterfly/butterfly_wing.rgba16.png
actors/exclamation_box/*
# Android files
!/textures/touchcontrols/*.png
platform/android/SDL/include
!platform/android/android/**/*.so
platform/android/android/lib/*/libc++_shared.so



sound/samples/sfx_mario/11_mario_game_over.aiff
sound/samples/sfx_mario/12_mario_hello.aiff
sound/samples/sfx_mario/13_mario_press_start_to_play.aiff
sound/samples/sfx_mario_peach/13_peach_something_special.aiff
sound/samples/sfx_mario_peach/14_peach_bake_a_cake.aiff

!sound/samples/sfx_mario/00_mario_jump_hoo.aiff
!sound/samples/sfx_mario/01_mario_jump_wah.aiff
!sound/samples/sfx_mario/02_mario_yah.aiff
!sound/samples/sfx_mario/03_mario_haha.aiff
!sound/samples/sfx_mario/04_mario_yahoo.aiff
!sound/samples/sfx_mario/05_mario_uh.aiff
!sound/samples/sfx_mario/06_mario_hrmm.aiff
!sound/samples/sfx_mario/07_mario_wah2.aiff
!sound/samples/sfx_mario/08_mario_whoa.aiff
!sound/samples/sfx_mario/09_mario_eeuh.aiff
!sound/samples/sfx_mario/0A_mario_attacked.aiff
!sound/samples/sfx_mario/0B_mario_ooof.aiff
!sound/samples/sfx_mario/0C_mario_here_we_go.aiff
!sound/samples/sfx_mario/0D_mario_yawning.aiff
!sound/samples/sfx_mario/0E_mario_snoring1.aiff
!sound/samples/sfx_mario/0F_mario_snoring2.aiff
!sound/samples/sfx_mario/10_mario_doh.aiff

!sound/samples/sfx_mario_peach
!sound/samples/sfx_mario/
!sound/samples/sfx_mario/14_mario_twirl_bounce.aiff
!sound/samples/sfx_mario/15_mario_snoring3.aiff
!sound/samples/sfx_mario/16_mario_bye_bye.aiff
!sound/samples/sfx_mario/16_mario_so_longa_bowser.aiff
!sound/samples/sfx_mario/17_mario_ima_tired.aiff
!sound/samples/sfx_mario/18_mario_waha.aiff
!sound/samples/sfx_mario/19_mario_yippee.aiff
!sound/samples/sfx_mario/1A_mario_lets_a_go.aiff
!sound/samples/sfx_mario_peach/00_mario_waaaooow.aiff
!sound/samples/sfx_mario_peach/01_mario_hoohoo.aiff
!sound/samples/sfx_mario_peach/02_mario_panting.aiff
!sound/samples/sfx_mario_peach/03_mario_dying.aiff
!sound/samples/sfx_mario_peach/04_mario_on_fire.aiff
!sound/samples/sfx_mario_peach/05_mario_uh2.aiff
!sound/samples/sfx_mario_peach/06_mario_coughing.aiff
!sound/samples/sfx_mario_peach/07_mario_its_a_me_mario.aiff
!sound/samples/sfx_mario_peach/08_mario_punch_yah.aiff
!sound/samples/sfx_mario_peach/09_mario_punch_hoo.aiff
!sound/samples/sfx_mario_peach/0A_mario_mama_mia.aiff
!sound/samples/sfx_mario_peach/0B_mario_okey_dokey.aiff
!sound/samples/sfx_mario_peach/0C_mario_drowning.aiff
!sound/samples/sfx_mario_peach/0D_mario_thank_you_playing_my_game.aiff
!sound/samples/sfx_mario_peach/0E_peach_dear_mario.aiff
sound/samples/sfx_mario_peach/0F_peach_mario.aiff

!sound/samples/sfx_mario_peach/10_peach_power_of_the_stars.aiff
!sound/samples/sfx_mario_peach/11_peach_thanks_to_you.aiff
!sound/samples/sfx_mario_peach/12_peach_thank_you_mario.aiff


!sound/samples/sfx_mario_peach/15_peach_for_mario.aiff
!sound/samples/sfx_mario_peach/16_peach_mario2.aiff

# macOS autocreated directory settings file 
.DS_Store
